@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url('./assets/fonts/ArticulatCF/ArticulatCF-Bold.ttf');
    font-family: "ArticulatCF";
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -2;
}

@font-face {
    src: url('./assets/fonts/VisbyCF/VisbyCF-Bold.ttf');
    src: url('./assets/fonts/VisbyCF/VisbyCF-Bold.ttf') format("ttf"),
        url('./assets/fonts/VisbyCF/VisbyCF-Bold.woff') format("woff"),;
    font-family: "VisbyCF";
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2;
}

@font-face {
    src: url('./assets/fonts/VisbyCF/VisbyCF-Medium.ttf');
    src: url('./assets/fonts/VisbyCF/VisbyCF-Medium.ttf') format("ttf"),
        url('./assets/fonts/VisbyCF/VisbyCF-Medium.woff') format("woff"),;
    font-family: "VisbyCF";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2;
}

html {
    font-family: "VisbyCF", sans-serif !important;
    font-weight: 400;   
}

body {
    transition: color 0.2s ease-in-out, 
        background-color 0.2s ease-in-out !important;
}